@import "../../assets/styles/variables.scss";

.panel {
  display: flex;
  transition:transform 0.5s linear ;
   .sidebar{
     padding: 20px 20px 30px;
   background-color: $color-oxford-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
   } 
 }
.shrink{
   transform:translateX(calc( -100% + 30px));
   }
 .expand{
  transform:translateX(0);
 }


