@import "../../assets/styles/variables.scss";

.panel {
  
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  display: flex;
  transition: transform 0.5s linear;
  &.shrink {
  transform: translateX(calc(-100% + 20px));
}
&.expand {
  transform: translateX(0);
}
  .sidebar {
    
   padding: 20px 0px;
    background-color: $color-oxford-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
}

