@import "../../assets/styles/sizes.scss";
@import "../../assets/styles/animation.scss";

.innerPage {
  .main__content {
    display: flex;
    flex-direction: column;
    transition: margin-left $animation-speed-normal $animation-style-base;
    margin-top: $indent-s;
    &.narrow {
      margin-left: $menu-open;
    }
    &.wide {
      margin-left: $indent-min;
    }
  }
}

@media only screen and (max-width: $media-mobile) {
  .innerPage {
    .main__content {
      &.narrow {
        margin-left: $menu-closed;
      }
    }
  }
}

.scrollUp {
  margin-right: $indent-xl;
  align-self: flex-end;
  transform: rotate(-90deg);
}
