@import '../../assets/styles/variables.scss';
.info {
  box-sizing: border-box;
  padding: 15px;
  font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
background-color:$color-gallery ;
color: $color-oxford-blue;
}
