@import "../../assets/styles/variables.scss";
@import "../../assets/styles/typography.scss";
.filter{
  display: flex;
  padding-bottom: 10px;
  &__input{
    &:checked+label{
      color:$color-shamrock;
    }
   display: none;
   
  }
  label{
    cursor: pointer;
    text-transform:capitalize;
     
  }
  &__item + &__item > label:before {
    content: '/';
        color: $color-oxford-blue;
        padding: 0 5px;
  }
}

.filter-container{
  display: flex;
  flex-wrap: wrap; 
}
