@import "../../assets/styles/colors.scss";
@import "../../assets/styles/typography.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__title {
    margin: 0;
    @include titleInfo($highlight);
  }
  &__content {
    @include text($base-dark);
  }
   &__link {
    @include text($highlight); 
   }
}
