@import "../../assets/styles/colors.scss";
@import "../../assets/styles/typography.scss";
@import "../../assets/styles/sizes.scss";

address {
  display: flex;
  align-items: center;
  margin-top: $indent-m;
  .media__icon {
    color: $highlight;
    font-size:$text-l;
  }
}
.address {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-left: $indent-m;
  &__title {
    @include titleInfo($base-dark);
  }
  &__url {
    @include textButton($base-gray);
  }
}
