@import "../../assets/styles/colors.scss";
@import "../../assets/styles/typography.scss";
@import "../../assets/styles/sizes.scss";

.skills__edit {
  position: absolute;
  top: $indent-m;
  right: $indent-xl;
}

