@import '../../assets/styles/colors.scss';
@import '../../assets/styles/typography.scss';
@import "../../assets/styles/sizes.scss";

.skills__form{
  
  display:flex;
  flex-direction: column;
  align-items: flex-start;

}

.skills__edit{
  position:absolute;
  top: $indent-m ;
 right: $indent-xl;
 
}

.bar{
  @include titleInfo($color-white);
  margin-top: $indent-m;
  background-color: $highlight;
 }

