@import "../../assets/styles/variables.scss";
.hero{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
 
  background:linear-gradient(0deg, rgba(0, 6, 20, 0.7), rgba(0, 6, 20, 0.7)), url(../../assets/images/background.png) no-repeat center/cover;
  }