@import "../../assets/styles/variables.scss";
@import "../../assets/styles/typography.scss";

.portfolio__card{
  position: relative;
   width: 308px;
   height: 190px;
   margin: 10px 10px 0px 0px;
   overflow: hidden;
   background-image: url(../../assets/images/card_2.png);
   border: 1px solid $color-gallery;
 
  &:hover>div{
  top:0px;
    }
    &.ui{
      background-image: url(../../assets/images/card_1.png);
    }
    &.code{
      background-image: url(../../assets/images/card_3.png);
    }
  &__info{
    position: absolute;
    top:100%;
    width: 100%;
    height: 100%;
    background-color:$color-white;
    transition: top 1s ease;
   
  }
}



