.grid {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
  display: grid;
  grid-template-areas:
    "company job"
    "date description";
  grid-template-columns: 85px auto;
  gap: 5px 30px;
  .date {
    grid-area: date;
  }
  .company {
    grid-area: company;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
  }
  .job {
    grid-area: job;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
  }
  .description {
    grid-area: description;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
  }
}
