
@font-face {
  font-family: 'Open Sans';
  src: url(assets/fonts/OpenSans/OpenSans-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans';
  src: url(assets/fonts/OpenSans/OpenSans-SemiBold.ttf) format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Open Sans';
  src: url(assets/fonts/OpenSans/OpenSans-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}
