//Colors
$color-midnight:#000614;
$color-oxford-blue:#222935;
$highlight:#26C17E;
$raven:#667081;
$gallery:#EEEEEE;
$color-white:#FFFFFF;
$color-black:#000000;
$color-alto:#DDDDDD;
$color-danger:#e40b0b;

$highlight: $highlight;
$base-white:$color-white;
$base-dark:$color-oxford-blue;
$base-gray:$raven;
$gallery:$gallery;
$error: $color-danger;




