$width-xl:100%;
$full-height:100vh;
$height-l:80vh;
$height-s:30vh;
$indent-xl:36px;
$indent-l:30px;
$indent-m:20px;
$indent-s:15px;
$indent-xs:10px;
$indent-xxs:5px;
$indent-min:0px;


$menu-open:250px;
$menu-closed:55px;

$width-card: 308px;
$height-card:190px;

$input-width:270px;
$input-height:40px;

$photo-l:163px;
$photo-m:100px;
$photo-s:50px;

$indent-title:40px;

$media-mobile:600px;